@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background/4909638.jpg);
    height: 100vh;

}
.body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'shadows into light', sans-serif;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin-bottom: -60px;
}

.container{
    align-items: center;
    text-align: center;
}
.txt-bx{
    width: fit-content;
    padding: 5px;
    border: 2px solid rgb(177, 172, 172);
    border-radius: 5px;
    display: inline-block;
    outline: none; 
}

.myButton{
    cursor: pointer;
    color: rgb(2, 2, 2);
    background: rgb(172, 172, 172);
    height: 25px;
    width: 50px;
    border: none;
    border-radius: 5px;
    
}

.myButton:hover{
    filter: brightness(110%);
}
.footer{
    align-items: center;
    text-align: center;
    height: 60px;
}