@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background/4909638.jpg);
    height: 100vh;
    overflow: hidden;
}
h1{
    font-size: 50px;
    margin-bottom: 2px;
}
h3{
    margin-top: 4px;
    font-size: 30px;
}

p{
    font-size: 20px;
    font-weight: 500;
}

.container{
    position: fixed;
}

.form-container{
    position: fixed;
}

.frm-lbl{
    font-size: 20px;
}
.body-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Roboto Condensed','shadows into light', sans-serif;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin-bottom: -60px;
}

.container{
    align-items: center;
    text-align: center;
}
.txt-bx{
    width: fit-content;
    padding: 5px;
    border: 2px solid rgb(177, 172, 172);
    border-radius: 5px;
    display: inline-block;
    outline: none; 
    /* height: 25px; */
}

.myButton{
    cursor: pointer;
    color: rgb(2, 2, 2);
    background: rgb(172, 172, 172);
    height: 28px;
    width: 55px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.myButton:hover{
    filter: brightness(110%);
}
.footer{
    align-items: center;
    text-align: center;
    height: 60px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 900px){
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }
    h3{
        margin-top: 0;
        font-size: 20px;
    }
    
    p{
        font-size: 20px;
        font-weight: 500;
    }
    body{
        padding: 5px;
    }

    .footer{
        font-size: 10px;
    }
}
